main{
    width: 90%;
    margin: auto;
    flex: 1;
}
.surface_area_container{
    width: 100%;
}
.calc_area{ 
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
form[name="circle"],
form[name="square"],
form[name="rectangle"],
form[name="triangle"]{
    width: 300px;
    border: solid;
    margin: 1%;
}
.para_area{
    width: 90%;
    text-align: left;
}
h1, .formula{
    display: block;
    text-align: center;
}
