main{
    width: 90%;
    margin: auto;
    flex: 1;
}
.content{
    width: 300px;
    border: solid;
    margin: auto;
}
input[type=number]{
    width: 100px;
}
.res{
    font-size: 18px;
}
.paragraph_exponent{
    width: 90%;
    text-align: left;
}
h2{
    text-align: center;
}
