main{
    width: 90%;
    margin: auto;
    flex: 1;
}
.calc_area_peri{
    width: 100%;
}
.calc_peri{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
form{
   width: 300px;
   border: solid;
   margin: 1%; 
}
.para_peri{
    width: 90%;
    text-align: left;
}
.para_peri h1, .formula{
    text-align: center;
}
.formula{
    display: block;
}
