main{
    width: 90%;
    margin: auto;
    flex: 1;
}

.privacy-policy{
    text-align: left;
}
.about-us h2 {
    color: #007BFF;
}
h1, h2, h3{
    text-align: center;
}
ul {
    padding-left: 1.5rem;
    margin: 1rem 0;
}
