main{
    flex: 1;
}
.conatainer_root{
    width: 90%;
    margin: auto;
}
.con{
    width: 300px;
    border: solid;
    margin: auto;
}
input[type=number]{
    width: 100px;
}
.res_calc{
    font-size: 18px;
    font-weight: bold;
}
.para{
    text-align: left;
}
h2{
    text-align: center;
}