main{
    width: 100%;
    margin: auto;
    flex: 1;
}

main a{
    text-decoration: none;
    color: black;
}
main a:hover{
    text-decoration: underline;
}
.calc{
    width: 7rem;
    height: fit-content;
    margin: 1em;
    text-align: center;
    display: inline-block;
}
.calc img{
    width: 100px;
}