main{
    width: 90%;
    margin: auto;
    flex: 1;
}
.calculator {
    width: 300px;
    text-align: center;
    margin: auto;
    border: solid;
    
}

.calculator h2 {
    margin-bottom: 1%;
}

.unit-container {
    margin-bottom: 2%;
}

.unit-container label {
    margin-right: 10px;
    font-size: 16px;
}
.result {
    margin-top: 20px;
    font-size: 18px;
}

.result p {
    color: #333;
    font-weight: bold;
}
.paragraph_for_trig{
    width: 90%;
}
section{
    text-align: left;
}
section h2{
    text-align: center;
}
.formula{
    width: 90%;
    margin: auto;
    text-align: left;
}